*.dll
*.suo
*.sln
*.db
*.obj
*.tlog
*.pdb
*.log
*.idb
*.user
*.filters
*.config
*.cache
*.Cache
*.resources
*.cs
*.resx
*.settings
*.enc
*.ilk
*.csproj
*.vcxproj
WireWorld/WireWorld/source/Loader/obj/Debug/Loader.csproj.FileListAbsolute.txt
